## Target

Adding in the users database, the number of read contents from each topic

## Imports

In [26]:
import pickle
import pandas as pd
from datetime import datetime, timedelta

## Import databases

### Import contents with topics

In [2]:
with open('../etreprof/ml_package/pickles/bertopic/bertopic_model_df_valid.pkl', 'rb') as f:
    df_valid = pickle.load(f)

/tmp/ipykernel_24115/2786277994.py:2: DeprecationWarning: numpy.core.numeric is deprecated and has been renamed to numpy._core.numeric. The numpy._core namespace contains private NumPy internals and its use is discouraged, as NumPy internals can change without warning in any release. In practice, most real-world usage of numpy.core is to access functionality in the public NumPy API. If that is the case, use the public NumPy API. If not, you are using NumPy internals. If you would still like to access an internal attribute, use numpy._core.numeric._frombuffer.
  df_valid = pickle.load(f)

In [5]:
df_valid.head()

,id,type,markdown,markdown_clean,topic,topic_probability,topic_label,reduced topics,reduced topics label
0,371,article,"[Un rituel est une activité répétée, régulière...","[Un rituel est une activité répétée, régulière...",15,1.000000,"""Guide pratique pour instaurer des rituels péd...",0,[Pédagogie en plein air en milieu urbain]
1,45,article,Une vidéo pour comprendre nos réactions de str...,Une vidéo pour comprendre nos réactions de str...,-1,0.019103,Divers/Outliers,-1,[Classe à triple niveaux en maternelle et gest...
2,597,article,"Dans cette vidéo, vous allez découvrir l'impac...","Dans cette vidéo, vous allez découvrir l'impac...",-1,0.024701,Divers/Outliers,-1,[Classe à triple niveaux en maternelle et gest...
3,625,article,"\n\nLa mémoire nous permet d’encoder, de stock...","La mémoire nous permet d’encoder, de stocker e...",22,0.526784,"Mémoire de travail, biais cognitifs et apprent...",3,[Gestion du bruit en classe]
4,542,article,\n\nDevenir lecteur est une étape importante d...,Devenir lecteur est une étape importante dans ...,-1,0.011713,Divers/Outliers,-1,[Classe à triple niveaux en maternelle et gest...

In [7]:
df_valid.shape

(1416, 9)

In [10]:
df_valid["reduced topics"].value_counts()

reduced topics
-1     556
 0     282
 1     138
 5      79
 11     58
 6      47
 2      44
 4      43
 12     33
 3      26
 10     24
 15     21
 7      21
 13     17
 9      11
 14      9
 8       7
Name: count, dtype: int64

In [20]:
df_content_valid = df_valid[["id", "reduced topics"]]

In [21]:
df_content_valid

        id  reduced topics
0      371               0
1       45              -1
2      597              -1
3      625               3
4      542              -1
...    ...             ...
1592  1121              -1
1593  1122              10
1594   928               0
1595   907               0
1596   849              -1

[1416 rows x 2 columns]

**Export this for use in prod**

In [71]:
df_content_valid.to_csv("../data/content_with_topics.csv", index=False)

### Import interaction_events

In [11]:
df_interactions = pd.read_csv("../raw_data/interaction_events.csv", low_memory=False)

In [15]:
df_interactions.sample(5)

,id,user_id,type,content_type,content_id,context_type,context_id,thema_prio,url,created_at,updated_at
4414111,13444594,53366,session,opened_mail,b8402610ab,infolettre_hebdo,NaN,NaN,16/08/2022 - ELEMENTAIRE [NEWS_HEBDO],2022-08-16 12:18:48,2023-12-01 02:35:50
4038711,13069194,48829,opened_mail,kit,a6e0996837,NaN,NaN,NaN,01 - GERER L'ESPACE CLASSE - KIT GESTION DE C...,2022-02-23 09:53:18,2023-12-01 01:57:42
1891238,10921721,19225,session,opened_mail,198950f645,infolettre_hebdo,NaN,NaN,12/11/22 - ÉLÉMENTAIRE [NEWS_HEBDO],2022-11-12 12:53:50,2023-11-30 22:12:59
598186,1206736,163072,download,guide-pratique,3,page_guide_pratique,NaN,"re-a-eme, re-f-eme",/guides-pratiques/3/aider-les-eleves-presentan...,2023-10-04 12:39:57,NaN
4631793,13662276,56095,session,opened_mail,772c333395,infolettre_hebdo,NaN,NaN,15/07/2022 - MATERNELLE [NEWS_HEBDO],2022-07-15 14:01:22,2023-12-01 02:58:10

### Import users

In [48]:
df_users = pd.read_csv("../data/users_final_dataset.csv", low_memory=False)

In [49]:
df_users.sample(3)

,id,nb_fiche_outils,nb_guide_pratique,nb_transition_ecologique,nb_sante_mentale,nb_ecole_inclusive,nb_cps,nb_reussite_tous_eleves,total_interactions_x,diversite_contenus,...,month_minus_5,month_minus_6,month_minus_7,month_minus_8,month_minus_9,month_minus_10,month_minus_11,year_minus_0,year_minus_1,year_minus_2
148268,154796,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
191247,201133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
101782,107479,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0

In [50]:
df_users.shape

(198895, 84)

In [18]:
df_users.columns

Index(['id', 'nb_fiche_outils', 'nb_guide_pratique',
       'nb_transition_ecologique', 'nb_sante_mentale', 'nb_ecole_inclusive',
       'nb_cps', 'nb_reussite_tous_eleves', 'total_interactions_x',
       'diversite_contenus', 'nb_vote', 'nb_comments', 'nb_opened_mail',
       'nb_clicked_mail', 'statut_infolettre', 'statut_mailchimp',
       'code_postal', 'departement', 'academie', 'anciennete', 'created_at',
       'degre', 'maternelle', 'elementaire', 'college', 'lycee', 'lycee_pro',
       'autre', 'type_etab', 'discipline', 'niveau_tps', 'niveau_ps',
       'niveau_ms', 'niveau_gs', 'niveau_cp', 'niveau_ce1', 'niveau_ce2',
       'niveau_cm1', 'niveau_cm2', 'niveau_6e', 'niveau_5e', 'niveau_4e',
       'niveau_3e', 'niveau_2nde', 'niveau_1ere', 'niveau_terminale',
       'niveau_cap', 'niveau_bac_pro', 'niveau_post_bac', 'niveau_segpa',
       'niveau_ash', 'niveau_direction', 'niveau_formateur',
       'niveau_documentaliste', 'join_date', 'last_action_date',
       'total_interactions_y', 'week_minus_0', 'week_minus_1', 'week_minus_2',
       'week_minus_3', 'week_minus_4', 'week_minus_5', 'week_minus_6',
       'week_minus_7', 'week_minus_8', 'week_minus_9', 'week_minus_10',
       'week_minus_11', 'month_minus_0', 'month_minus_1', 'month_minus_2',
       'month_minus_3', 'month_minus_4', 'month_minus_5', 'month_minus_6',
       'month_minus_7', 'month_minus_8', 'month_minus_9', 'month_minus_10',
       'month_minus_11', 'year_minus_0', 'year_minus_1', 'year_minus_2'],
      dtype='object')

## Enrich user df

In [65]:
def create_user_topic_enrichment(df_interactions, df_users, df_content_valid):
    """
    Enrich users database with topics
    3 args :
        - df_interactions
        - df_users
        - df_content_valid : the dataframe with the topics
    """
    # Update column types
    df_interactions['created_at'] = pd.to_datetime(df_interactions['created_at'])
    df_interactions['content_id'] = df_interactions['content_id'].astype(str)
    df_content_valid['id'] = df_content_valid['id'].astype(str)
    
    # We only take the actions of the 3 last years
    cutoff_date = datetime.now() - timedelta(days=365*3)
    df_interactions = df_interactions[df_interactions['created_at'] >= cutoff_date]


    # Join interaction_events + df_content_valid
    df_interactions_filtered = df_interactions.merge(df_content_valid[['id', 'reduced topics']],
            left_on='content_id', right_on='id', how='inner')

    # Drop duplicates of (user_id, content_id) tuple
    df_interactions_unique = df_interactions_filtered.drop_duplicates(subset=['user_id', 'content_id'])

    # Count by topic
    df_user_topic_counts = df_interactions_unique.groupby(['user_id', 'reduced topics']).size().reset_index(name='count')

    # need to pivot the results
    df_topic_matrix = df_user_topic_counts.pivot(
        index='user_id',
        columns='reduced topics',
        values='count'
    ).fillna(0)

    # Add count of different topics and rename
    df_topic_matrix['topic_count'] = (df_topic_matrix > 0).sum(axis=1)
    df_topic_matrix.columns = [f'topic_{col}' if col != 'topic_count'
                           else col for col in df_topic_matrix.columns]

    # Merge with users
    df_users_enriched = df_users.merge(
        df_topic_matrix, left_on='id', right_index=True, how='left'
    ).fillna(0)

    return df_users_enriched

In [66]:
df_users_enriched = create_user_topic_enrichment(df_interactions, df_users, df_content_valid)

/tmp/ipykernel_24115/1835880049.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_content_valid['id'] = df_content_valid['id'].astype(str)

In [67]:
df_users_enriched.sample(10)

,id,nb_fiche_outils,nb_guide_pratique,nb_transition_ecologique,nb_sante_mentale,nb_ecole_inclusive,nb_cps,nb_reussite_tous_eleves,total_interactions_x,diversite_contenus,...,topic_7,topic_8,topic_9,topic_10,topic_11,topic_12,topic_13,topic_14,topic_15,topic_count
168253,175752,1.0,1.0,0.0,0.0,0.0,0.0,1.0,11.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
179754,188191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4464,5314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
146205,152684,0.0,1.0,0.0,0.0,1.0,0.0,0.0,36.0,27.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
83943,89161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103732,109444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103713,109425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122613,128507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
170795,178613,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
111809,117602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
df_users_enriched["topic_count"].value_counts()

topic_diversite_totale
0.0     116851
1.0      44008
2.0      14258
3.0       8211
4.0       5377
5.0       3643
6.0       2280
7.0       1565
8.0        984
9.0        641
10.0       456
11.0       293
12.0       165
13.0        90
14.0        31
15.0        19
16.0        12
17.0        11
Name: count, dtype: int64

In [42]:
df_users_enriched.shape

(59391, 102)

In [55]:
df_users_enriched.columns

Index(['id', 'nb_fiche_outils', 'nb_guide_pratique',
       'nb_transition_ecologique', 'nb_sante_mentale', 'nb_ecole_inclusive',
       'nb_cps', 'nb_reussite_tous_eleves', 'total_interactions_x',
       'diversite_contenus',
       ...
       'topic_7', 'topic_8', 'topic_9', 'topic_10', 'topic_11', 'topic_12',
       'topic_13', 'topic_14', 'topic_15', 'topic_diversite_totale'],
      dtype='object', length=102)

#### Export this database for prod

In [74]:
df_users_enriched.to_csv("../data/users_final_dataset.csv", index=False)

#### Who are these users wih topic_diversite_totale = 0

In [68]:
df_users_no_activity = df_users_enriched[df_users_enriched["topic_count"] == 0]
df_users_no_activity.shape

(115950, 102)

In [58]:
df_users_no_activity.describe()

,id,nb_fiche_outils,nb_guide_pratique,nb_transition_ecologique,nb_sante_mentale,nb_ecole_inclusive,nb_cps,nb_reussite_tous_eleves,total_interactions_x,diversite_contenus,...,topic_7,topic_8,topic_9,topic_10,topic_11,topic_12,topic_13,topic_14,topic_15,topic_diversite_totale
count,116851.000000,116851.000000,116851.000000,116851.0,116851.000000,116851.000000,116851.000000,116851.000000,116851.000000,116851.000000,...,116851.0,116851.0,116851.0,116851.0,116851.0,116851.0,116851.0,116851.0,116851.0,116851.0
mean,79882.860583,0.143208,0.078236,0.0,0.003355,0.008926,0.027779,0.052717,0.327443,0.270584,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,51104.331164,2.934597,0.676817,0.0,0.103291,0.152168,0.315616,0.585441,4.350229,3.257397,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,38161.500000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,75384.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,113806.500000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,210719.000000,305.000000,53.000000,0.0,9.000000,14.000000,27.000000,43.000000,546.000000,303.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
df_users_activity = df_users_enriched[df_users_enriched["topic_count"] != 0]
df_users_activity = df_users_activity[['topic_-1', 'topic_0', 'topic_1', 'topic_2', 'topic_3', 'topic_4', 'topic_5', 'topic_6','topic_7', 'topic_8', 'topic_9', 'topic_10', 'topic_11', 'topic_12',
       'topic_13', 'topic_14', 'topic_15', 'topic_count']]
df_users_activity.describe()

,topic_-1,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,topic_10,topic_11,topic_12,topic_13,topic_14,topic_15,topic_count
count,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000,82945.000000
mean,2.559576,0.857544,0.630900,0.308482,0.062933,0.091048,0.159347,0.068479,0.067334,0.010344,0.028404,0.100476,0.114835,0.042619,0.015649,0.122937,0.180650,2.293460
std,6.717775,2.952857,1.697519,1.187692,0.330491,0.470232,0.664937,0.377931,0.505193,0.115741,0.193483,0.495551,0.872151,0.390565,0.168096,0.437767,0.622014,2.029067
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,509.000000,264.000000,123.000000,44.000000,22.000000,40.000000,70.000000,28.000000,21.000000,6.000000,11.000000,23.000000,45.000000,33.000000,14.000000,8.000000,19.000000,17.000000